#toplevel_page_king-addons .wp-menu-image img,
#toplevel_page_king-addons-woo-builder .wp-menu-image img,
#toplevel_page_edit-post_type-king-addons-el-hf .wp-menu-image img,
#toplevel_page_king-addons-templates .wp-menu-image img {
    display: inline !important;
    box-sizing: content-box !important;
    width: 16px !important;
    height: 16px !important;
    padding: 9px 0 0 !important;
}

#toplevel_page_king-addons-templates .wp-menu-image img {
    opacity: 0.9;
}

#toplevel_page_king-addons-popup-builder .wp-menu-image img {
    display: inline !important;
    box-sizing: content-box !important;
    width: 20px !important;
    height: 20px !important;
    padding: 7px 0 0 !important;
}

#adminmenu #toplevel_page_king-addons.current div.wp-menu-name,
#adminmenu #toplevel_page_king-addons-popup-builder.current div.wp-menu-name,
#adminmenu #toplevel_page_edit-post_type-king-addons-el-hf.current div.wp-menu-name,
#adminmenu #toplevel_page_king-addons-templates.current div.wp-menu-name,
#adminmenu #toplevel_page_king-addons.wp-has-current-submenu a.wp-has-current-submenu,
#adminmenu #toplevel_page_king-addons-popup-builder.wp-has-current-submenu a.wp-has-current-submenu,
#adminmenu #toplevel_page_edit-post_type-king-addons-el-hf.wp-has-current-submenu a.wp-has-current-submenu,
#adminmenu #toplevel_page_king-addons-templates.wp-has-current-submenu a.wp-has-current-submenu {
    background: linear-gradient(269deg, #9389DE, #2C2270 94%);
}

ul#adminmenu > li#toplevel_page_king-addons.current > a.current:after,
ul#adminmenu > li#toplevel_page_king-addons-popup-builder.current > a.current:after,
ul#adminmenu > li#toplevel_page_edit-post_type-king-addons-el-hf.current > a.current:after,
ul#adminmenu > li#toplevel_page_king-addons-templates.current > a.current:after,
ul#adminmenu > #toplevel_page_king-addons > a.wp-has-current-submenu:after,
ul#adminmenu > #toplevel_page_king-addons-popup-builder > a.wp-has-current-submenu:after,
ul#adminmenu > #toplevel_page_edit-post_type-king-addons-el-hf > a.wp-has-current-submenu:after,
ul#adminmenu > #toplevel_page_king-addons-templates > a.wp-has-current-submenu:after {
    border-right-color: transparent;
}

#toplevel_page_king-addons,
#toplevel_page_king-addons-popup-builder,
#toplevel_page_edit-post_type-king-addons-el-hf,
#toplevel_page_king-addons-templates {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.king-addons-upgrade-notice .notice-dismiss {
    opacity: 0.4;
}

/* Style for Upgrade to Pro link in Plugins table */
.king-addons-plugins-gopro {
    color: #93003f;
    font-weight: 700;
}
.king-addons-plugins-gopro:hover,
.king-addons-plugins-gopro:focus {
    color: #c60055;
}

/* Upgrade menu link styles - Elementor style button */
#adminmenu #toplevel_page_king-addons a[href="https://kingaddons.com/pricing/?utm_source=kng-top-menu&utm_medium=plugin&utm_campaign=kng"] {
    background-color: #adff2f;
    border-radius: 3px;
/* background: linear-gradient(120.55deg, #A20BD8 18.56%, #FF4040 98.01%); */
    color: #000 !important;
    /* color: #fff !important; */
    display: block;
    font-weight: 600;
    margin: 3px 10px 0;
    text-align: center;
    transition: all .3s;
}

#adminmenu #toplevel_page_king-addons a[href="https://kingaddons.com/pricing/?utm_source=kng-top-menu&utm_medium=plugin&utm_campaign=kng"]:hover,
#adminmenu #toplevel_page_king-addons a[href="https://kingaddons.com/pricing/?utm_source=kng-top-menu&utm_medium=plugin&utm_campaign=kng"]:focus {
    background-color: #9ee82f;
    /* background: linear-gradient(45deg, #ff6b35, #ff6b35); */
    color: #000 !important;
    box-shadow: none;
}

/* Separator line only after Contact Us (last Freemius menu item) */
#adminmenu #toplevel_page_king-addons li:has(> a > .fs-submenu-item)::after {
    content: '';
    display: block;
    height: 1px;
    margin: 6px 0;
    background: rgba(255, 255, 255, 0.1);
}

/* Icon for Contact Us submenu item */
#adminmenu #toplevel_page_king-addons .fs-submenu-item.contact::before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 6px;
    vertical-align: -3px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%239ea3a8'%3E%3Cpath d='M20 4H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.7;
}

#adminmenu #toplevel_page_king-addons li:hover .fs-submenu-item.contact::before {
    opacity: 1;
}

#adminmenu li:has(> a[href^="https://kingaddons.com/pricing"]) {
    position: relative;
    margin-top: 8px;
    padding-top: 10px;
}

#adminmenu li:has(> a[href^="https://kingaddons.com/pricing"])::before {
    content: '';
    position: absolute;
    top: 0;
    left: 8px;
    right: 8px;
    height: 1px;
    background: rgba(255,255,255,0.12);
}