@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('../fonts/Inter.woff2') format('woff2');
}

#wpwrap,
#wpcontent,
.king-addons-settings {
    display: block !important;
}

.kng-btn-submit-wrap {
    margin-top: 20px;
    text-align: right;
}

/*noinspection DuplicatedCode*/
.kng-btn-submit {
    font-size: 13px;
    font-weight: 400;
    line-height: 2;
    padding: 8px 24px;
    cursor: pointer;
    transition: all 300ms;
    letter-spacing: 1px;
    color: white;
    border: none;
    border-radius: 12px;
    background: linear-gradient(45deg, #E1CBFF, #9B62FF 50%, #5B03FF);
}

.kng-btn-submit:hover {
    color: black;
}

hr.king-addons-settings-separator {
    border: none;
    border-top: 1px solid rgb(100 105 112 / 40%);
}