.king-addons-tb-post-title{position:relative;display:block;}
.king-addons-tb-post-title a{text-decoration:none;color:inherit;}
.king-addons-tb-post-title--underline{padding-bottom:4px;}
.king-addons-tb-post-title--underline::after{content:'';position:absolute;left:0;bottom:0;width:100%;height:2px;background-color:currentColor;transform:scaleX(0);transform-origin:left;transition:transform 0.2s ease;}
.king-addons-tb-post-title--underline:hover::after{transform:scaleX(1);}
